@page "/CreateBook"
@using Microsoft.AspNetCore.Components
@using Model
@using AuthorBlazor.Data

@inject NavigationManager _navigationManager
@inject IAuthorHandler _authorHandler
@inject IBookHandler _bookHandler

<h3>CreateBook</h3>

<EditForm Model="@_book" OnValidSubmit="@AddNewBook">
    <DataAnnotationsValidator/> <ValidationSummary/>
    <div class="form-group"> ISBN<br/> <InputNumber @bind-Value="_book.ISBN"/> </div>
    <div class="form-group"> Title:<br/> <InputTextArea rows="1" @bind-Value="_book.Title"/> </div>
    <div class="form-group"> Publication Year<br/> <InputNumber @bind-Value="_book.PublicationYear"/> </div>
    <div class="form-group"> Number of Pages<br/> <InputNumber @bind-Value="_book.NumOfPages"/> </div>
    @*Author ID List*@
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Add Author</button>
    </p>
</EditForm>

@code {

    private Book _book;

    protected override async Task OnInitializedAsync()
    {
        _book = new();
    }

    private async Task AddNewBook()
    {
        _book.Genre = "Test";
        _bookHandler.AddBook(_book, 1);
        _navigationManager.NavigateTo("/ViewBooks");
    }

}